

<div class="jumbotron">
  <h1 class="display-4">Reddit Scraper</h1>
  <p class="lead">Scrape the front page of the internet!</p>
  <hr class="my-4">
  <p class="lead">
    	<button id="scraper" class="btn btn-success btn-lg">Start Scraping</button>
		  <button id="savedArticles" data-state="{{ saved }}" class="btn btn-dark btn-lg">Saved Articles</button>
  </p>
</div>


<div id="article-container" class="row">
  {{#unless saved}}
    {{> scraped}}
  {{/unless}}

  {{#if saved}}
    {{> saved}}
  {{/if}}
</div>

<script src="/js/app.js"></script>